---
layout: default
---
<article id="post-page">
	<h2>{{ page.title }}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">
            {% if adsense %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- julianofischernaves.me -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-3911064379936498"
                    data-ad-slot="4846647713"
                    data-ad-format="auto"></ins>
                <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
            {% endif %}

		{{ content }}
		
	</div>
</article>


{% assign author = site.data.authors[page.author] %}
{% if author %}

    <div style="width: 20%; float:left">
        <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
    </div>

    <div style="width: 80%; float:left">
        Written by <a href="{{ author.web }}" target="_blank">{{ author.name }}</a> in {{ page.date | date_to_string }}.
    </div>

{% endif %}

{{ if page.comments }}
<div style="clear:both">
<span>
   <hr>
   <h1>Comments</h1>
   <hr>
</span>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'delaytolerantblogging';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{{ endif }}

